<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jmu.lsk.mapper.ProvinceMapper">
    <select id="allProvince"  resultType="jmu.lsk.po.Province" >
        select * from province;
    </select>
</mapper>