<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jmu.lsk.mapper.SeatChosenMapper">
    <insert id="insertSeatChosen" parameterType="jmu.lsk.po.SeatChosen">
        insert into seatChosen values(#{seatId},#{execId},#{ticketId},#{seatStatus});
    </insert>
</mapper>