<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jmu.lsk.mapper.SeatMapper">
    <select id="querySeats" parameterType="jmu.lsk.po.Seat" resultType="jmu.lsk.po.Seat">
        select * from seat where aircraftId=#{aircraftId} and shippingId=#{shippingId};
    </select>
</mapper>
