<!doctype html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单查询</title>
    <link rel="stylesheet" href="asserts/css/navigate.css">
    <link rel="stylesheet" href="asserts/css/table.css">
    <style type="text/css">
        .notify{
            text-align: center;
            margin-top: 20px;
            color: #666666;
            size: 5px;
        }
    </style>
</head>
<body>
<div align="center">
    <img src="asserts/img/logo.png">
</div>
<ul>
    <li class="dropdown">
        <a class="dropbtn" href="#">个人中心</a>
        <div class="dropdown-content">
            <a th:href="@{/queryOrders(loginId=${session.user.getLoginId()})}">查询订单</a>
            <a th:href="@{/queryPassenger}">乘机人管理</a>
            <a th:href="@{/logout}">注销</a>
        </div>
    </li>
    <li class="dropdown">
        <a class="dropbtn" href="#">航班业务</a>
        <div class="dropdown-content">
            <a href="/search">查询航班</a>
        </div>
    </li>
    <li><a href="/queryFlight">主页</a> </li>
</ul>
<div class="div-style" align="center">
    <table id="tables" title="订单">
        <tr><th>订单ID</th><th>账号</th><th>用户名</th><th>联系方式</th><th>总价格</th><th>支付状态</th><th>详情</th><th>操作</th></tr>
        <tr th:each="order:${orders}">
            <td th:text="${order.getOrderId()}"></td>
            <td th:text="${order.getLoginId()}"></td>
            <td th:text="${order.getUser().getUserName()}"></td>
            <td th:text="${order.getTel()}"></td>
            <td th:text="${order.getTotalPrice()}"></td>
            <td th:text="${order.getPaymentStatus()}"></td>
            <td><a th:href="@{/queryTicket(ticketId=${order.getLoginId()}+${order.getOrderId()})}">详情</a> </td>
            <td><a th:href="@{/deleteOrder(orderId=${order.getOrderId()})}">删除</a> </td>
        </tr>
    </table>
</div>
<div class="notify" th:text="${msg}"></div>
</body>
</html>