<!doctype html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单查询</title>
    <link rel="stylesheet" href="asserts/css/navigate.css">
    <link rel="stylesheet" href="asserts/css/update.css">
</head>
<body>
<div align="center">
    <img src="asserts/img/logo.png">
</div>
<ul>
    <li class="dropdown">
        <a class="dropbtn" href="#">个人中心</a>
        <div class="dropdown-content">
            <a th:href="@{/queryOrders(loginId=${session.user.getLoginId()})}">查询订单</a>
            <a th:href="@{/queryPassenger}">乘机人管理</a>
            <a th:href="@{/logout}">注销</a>
        </div>
    </li>
    <li class="dropdown">
        <a class="dropbtn" href="#">航班业务</a>
        <div class="dropdown-content">
            <a href="/search">查询航班</a>
        </div>
    </li>
    <li><a href="/queryFlight">主页</a> </li>
</ul>
<div class="div-style">
    <form action="/insertSeatChosen" method="post" class="basic-grey">
        <h1>退款成功</h1>
        <span>您的订单已退款，请注意查收短信提醒！</span>
        <label>
            <span>&nbsp;</span>
            <button><a th:href="@{/queryOrders(loginId=${session.user.getLoginId()})}">确认</a> </button>
        </label>
    </form>
</div>
</body>
</html>